.dashboard
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 80px
.exercise-list_with-buttons
  width: 100%
  &__btn
    display: block
    margin: auto !important
  .exercise-list
    display: flex
    margin-top: 25px
    justify-content: center
    align-items: center
    flex-direction: column
    .previous-exercises
      overflow-x: auto
      width: 100%
      display: flex
      justify-content: center
    .exercise
      min-height: 200px
      margin: 0px 10px
      position: relative
      padding: 10px 36px 36px 10px
      border: $sec_col solid 2px
      margin-top: 20px
      .approach-list
        display: flex
        margin-top: 10px
        margin-left: 5px
        font-size: 18px
        &__header
          font-size: 18px
          font-weight: bold
        &__signs
          position: absolute
          left: 7px
          top: 48px
          width: 20px
          z-index: 4
          i
            position: absolute
        &__icon_up
          top: 15px
        &__icon_down
          top: 45px
        &__items
          display: flex
          margin-top: 10px
          margin-left: 15px
        &__btn_add
          color: $sec_col
          z-index: 3 !important
          cursor: pointer
          position: absolute
          width: 30px
          height: 30px
          right: 5px
          top: 90px
          i
            position: absolute
            font-size: 25px !important
        .approach
          position: relative
          display: flex
          flex-direction: column
          align-items: center
          .weight
            display: block
            position: relative
            &:after
              content: ''
              font-size: 30px
              font-weight: bold
              color: $elem_bg_dark
              position: absolute
              top: 10px
              left: 11px
            select
              border-bottom: 1px $fir_col solid
          &__btn_delete
            position: relative
            i
              color: $remove
              cursor: pointer
              vertical-align: middle
              position: absolute
              z-index: 1
              bottom: -20px
              left: -7px
              line-height: 0
      select
        font-size: 22px
      &__btn_delete
        display: inline-block
        color: $remove
        cursor: pointer
        height: 30px
        width: 30px
        vertical-align: middle
        position: absolute
        top: 13px
        right: 2px
        i
          position: absolute
          font-size: 20px !important
      &__select
        width: 330px
    .current-exercise > .exercise
      min-height: 300px
      min-width: 500px
      .approach-list__btn_add
        right: 25px
      .add-icon
        font-size: 40px !important
      .exercise__select
        width: auto
      select
        font-size: 30px
      .custom-select__icon
        top: 10px
      .approach-list__signs
        top: 66px

.custom-select__wrapper
  position: relative

.custom-select
  color: $select_col
  background: transparent
  border-style: none
  text-align: center
  font-size: 18px
  appearance: none
  cursor: pointer
  margin: 2px
  position: relative
  z-index: 2
  color: #111
  option
    background: #F0F0F0
  &__icon
    position: absolute
    z-index: 1
    right: 0px
    top: 5px

.custom-select_padding
  @extend .custom-select
  padding-right: 17px

.timer
  position: relative
  margin: 30px auto
  display: flex
  text-align: center
  background: transparent
  &:hover
    .timer__btn
      visibility: visible
    .timer__time
      border-bottom: 1px solid $main_col_red
      border-top: 1px solid $main_col_red
  .timer__btn
    width: 70px
    padding: 5px
    margin: 0
    visibility: hidden
    transform: rotateZ('60')
    &_start
      clip-path: polygon(20% 100%, 0 80% , 0 20%, 20% 0, 100% 0, 100% 100%)
    &_finish
      clip-path: polygon(0% 0%, 80% 0% , 100% 20%, 100% 80%, 80% 100%, 0% 100%)
  &__time
    height: 100px
    display: flex
    justify-content: center
    align-items: center
    padding: 0 20px
    &_numerals
      font-size: 5vw
      font-family: Orbitron

.no-exercises
  text-align: center
  margin-top: 80px
  font-size: 25px
  .no-exercises_h2
    margin: 40px
