
.exercise-page
  width: 80%
  margin: 50px auto !important
  h3 
    text-align: center
  
.element-of-list
  position: relative
  
.change-exercise__form
  .form
    width: 100%
    margin: 0
    .fields
      display: flex
      width: 100%
      align-items: flex-end
      .field
        width: 50%
      