
.exercise-page
  margin: 50px auto !important
  form 
    position: relative
    .inline-error
      position: absolute
      bottom: -16px
      left: 50%
      transform: translateX(-50%)
      color: $fir_col
  label:after
    content: '' !important
  h3 
    text-align: center
  &__list
    margin-top: 20px
    width: 100% !important
    overflow: hidden
  .element-of-list
    position: relative
    background: #fff
    .title
      color: $text_col_dark !important
    .change-exercise__form
      .btn 
        color: $text_col_dark
        &:hover
          color: $text_col
      .form
        width: 100%
        margin: 0
        .fields
          display: flex
          width: 100%
          align-items: flex-end
          .field
            width: 50%
  &__add-form
    margin-top: 20px
    width: 80%
    @media(max-width: 768px) 
      width: 100%
    .fields 
      display: flex
      justify-content: center
    &__weight
      tac
    label
      color: $text_col !important
