.statistic
  display: block
  h3 
    text-align: center
  .statistic-table
  width: 100%
  font-size: 1rem
  .elem__header
    font-size: 18px
    font-weight: bold
  .statistic-table__elem__wrapper
    padding: 20px 10px
    position: relative
    .statistic_more_btn
      position: absolute
      top: 40px
      right: -135px
      z-index: 3
      &:focus
        color: $elem_bg_dark
    .statistic-table__elem
      border-top: $bor-blue
      padding-top: 20px
    .elem_left
      border-right: $bor-blue
      padding-right: 20px
      .elem_left_row
        height: 30px
        padding: 0 10px
    .elem_right
      padding-left: 20px
      justify-content: flex-start
      overflow: auto
      .elem_right__column
        margin-left: 10px
        .column-counter
          font-weight: bold
        .elem_right__column__cell
          border-bottom: $bor-blue
          padding: 5px
          height: 30px
          text-align: center

.statistic-table__elem, .elem_right
  display: flex

.training_time
  color: $text_col
  font-size: 18px
  border-radius: 10px
  overflow: hidden
  padding: 10px
  background: linear-gradient(to bottom, lighten($elem_bg, 5%), $elem_bg)
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  width: 200px
  margin: auto
  margin-bottom: 40px
  text-align: center
  .timer_numerals
    background: radial-gradient($elem_bg, darken($elem_bg_dark, 15%))
    border-radius: 5px

.picker-date__wrapper
  text-align: center
  .picker-date 
    border: none
    background: radial-gradient($elem_bg, darken($elem_bg_dark, 10%))
    color: $select_col
    text-align: center
    cursor: pointer 
    font-size: 30px
    border-radius: 10px

.react-datepicker-popper
  z-index: 3 !important
  


