  
@font-face
  font-family: "Shadows Into Light"
  src: url('https://fonts.googleapis.com/css?family=Shadows+Into+Light')

@font-face
  font-family: "American Captain"
  src: url("../fonts/america/American Captain.ttf") format("ttf")

@font-face
  font-family: "Teko"
  src: url("https://fonts.googleapis.com/css?family=Teko:600")

@font-face
  font-family: "Interceptor"
  src: url("../fonts/interceptor/Interceptor.otf") format("otf")

$elem_bg: #938F8E
$elem_bg_dark: #333333
$elem_bg_light: #F9F9F4
$btn_bg: #DA032D
$text_col: #eee
$select_col: #eee
$link_col: #DA032D
$bor: 1px solid #ccc
$bor-blue: 1px solid #41a9ec
$remove: #DA032D
$sec_col: #CFC202
// red DA032D #DE2229



@import 'dashboard.sass'
@import 'statistic.sass'
@import 'exercises.sass'

html, body
  margin: 0
  padding: 0
  

div, select
  outline: none 

select 
  option 
    color: $elem_bg_dark

form
  width: 50%
  text-align: center
  margin: 50px auto

html 
  font-size: 16px !important
  
body
  //background-image: linear-gradient(to bottom, rgba(255,255,255,0), $orange-light)
  font-family: 'Shadows Into Light', cursive !important
  background: #000
  background-repeat: no-repeat
  background-attachment: scroll
  background-size: cover
  color: #fff
  
.inline 
  display: inline-block

.center
  text-align: center

a
  text-decoration: none
  &:hover,  &:focus
    text-decoration: none
    color: white
    outline: none

.confirm_restricted
  text-align: center
  margin: auto
  font-size: 30px

.btn
  color: $text_col
  text-decoration: none
  padding: 10px 20px
  background: linear-gradient(to bottom, $btn_bg, darken($btn_bg, 30%))
  text-transform: uppercase
  border: none
  border-radius: 5px
  cursor: pointer 
  margin: 5px
  font-family: 'Shadows Into Light', cursive
  transition: .2s
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  &:focus,  &:visited
    color: white
    outline: none
    border: none
    background: linear-gradient(to bottom, lighten($btn_bg, 10%), darken($btn_bg, 30%))
  &:hover, &:active
    color: darken($text_col, 20%)
    background: linear-gradient(to bottom, lighten($btn_bg, 10%), darken($btn_bg, 30%))
    text-decoration: none
    outline: none
    border: none

.btn_remove
  background: linear-gradient(to bottom, $remove, darken($remove, 30%))
  &:focus, &:visited, &:hover, &:active
    background: linear-gradient(to bottom, lighten($remove, 10%), darken($remove, 30%))


.forgot_password__link
  display: block
  margin: auto
  text-align: center 

.header
  background-color: $elem_bg_light
  text-align: center
  margin-bottom: 0px !important
  padding: 40px
  position: relative
  display: flex
  justify-content: flex-start
  padding: 30px 0px !important
  &__logo
    a 
      display: block
      img 
        margin: auto
  &__h1
    text-align: center
    position: relative
    text-transform: uppercase
    top: 20px
    font-size: 3.5vw
    text-shadow: 0.1em 0.1em 0.2em #aaa
    font-family: Interceptor, sans-serif !important
    margin: 0
    color: #000
    display: inline-block
  &__nav
    position: absolute
    text-align: right
    top: 10px
    width: 97%
    right: 3%
    &_link
      color: $link_col
      text-decoration: none
      font-weight: normal
      padding: 5px
      background: transparent
      text-transform: uppercase
      border: none
      cursor: pointer 
      margin: 5px
      font-family: 'Shadows Into Light', cursive
      transition: .2s
      &:focus,  &:visited
        color: $link_col
      &:hover, &:active
        color: darken($link_col, 10%)
        cursor: pointer
        text-decoration: none
        outline: none
        border: none

.home-page
  text-align: center
  margin: 100px auto
  height: 100%
  p
    font-size: 20px
    margin-top: 10px
    line-height: 2 !important
    &:first-child
      margin-top: 50px
  h1 
    font-size: 30px

.login-page, .signup-page, .forgot-password-page, .reset-password-page
  margin-top: 100px

.redirect-with-message
  text-align: center
  margin-top: 200px

.not-found-page
  font-size: 40px
  margin-top: 200px
  text-align: center
  max-width: 100%
  a 
    font-size: 16px
    line-height: 4

