  
@font-face
  font-family: "Shadows Into Light"
  src : url('https://fonts.googleapis.com/css?family=Shadows+Into+Light')
  
$dark-blue: #1D2F46
$btn-color: #41A9EC
$bg-blue: #244768
$bor: 1px solid #ccc
$bor-blue: 1px solid #41a9ec
$remove: #CE0202

@import 'dashboard.sass'
@import 'statistic.sass'
@import 'exercises.sass'

html, body
  margin: 0
  padding: 0

div, select
  outline: none 

form
  width: 50%
  text-align: center
  margin: 50px auto

html 
  font-size: 16px !important
  
body
  //background-image: linear-gradient(to bottom, rgba(255,255,255,0),#C5E5F9)
  font-family: 'Shadows Into Light', cursive !important
  background-repeat: no-repeat
  background-attachment: scroll
  background-size: cover
  
text  
  font-size: 12px

.inline 
  display: inline-block

.center
  text-align: center

a
  text-decoration: none
  &:hover,  &:focus
    text-decoration: none
    color: white


.confirm_restricted
  text-align: center
  margin: auto
  font-size: 30px

.btn
  color: white
  text-decoration: none
  padding: 10px 20px
  background: linear-gradient(to bottom, $btn-color, darken($btn-color, 30%))
  text-transform: uppercase
  border: none
  border-radius: 5px
  cursor: pointer 
  margin: 5px
  font-family: 'Shadows Into Light', cursive
  transition: .2s
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
  &:focus,  &:visited
    color: white
    outline: none
    border: none
    background: linear-gradient(to bottom, lighten($btn-color, 10%), darken($btn-color, 30%))
  &:hover, &:active
    background: linear-gradient(to bottom, lighten($btn-color, 10%), darken($btn-color, 30%))
    color: $dark-blue
    text-decoration: none
    outline: none
    border: none

.btn_remove
  background: linear-gradient(to bottom, #DD4F43, darken(#DD4F43, 30%))
  &:focus, &:visited, &:hover, &:active
    background: linear-gradient(to bottom, lighten(#DD4F43, 10%), darken(#DD4F43, 30%))


.forgot_password__link
  display: block
  margin: auto
  text-align: center 

.header
  background-color: transparent
  text-align: center
  margin-bottom: 20px
  padding: 40px
  position: relative
  .main_h1
    text-align: center
    position: relative
    top: 20px
    font-size: 50px
    text-shadow: 0.1em 0.1em 0.2em #aaa
    font-family: 'Shadows Into Light', cursive
    margin: 0
    color: $btn-color
    display: inline-block
  .hr  
    height: 5px
    width: 60%
    background: linear-gradient(to bottom, $btn-color, darken($btn-color, 30%))
    box-shadow: 0 5px 10px 1px #ccc
    margin: auto
    border-radius: 5px
    margin-top: 20px
  &__nav
    position: absolute
    top: 10px
    right: 40px
    &_link
      color: $btn-color
      text-decoration: none
      padding: 5px
      background: transparent
      text-transform: uppercase
      border: none
      cursor: pointer 
      margin: 5px
      font-family: 'Shadows Into Light', cursive
      transition: .2s
      &:focus,  &:visited
        color: $btn-color
      &:hover, &:active
        color: $dark-blue
        cursor: pointer
        text-decoration: none
        outline: none
        border: none

.main
  text-align: center
  margin: auto
  p
    font-size: 20px
    &:first-child
      margin-top: 50px
  h1 
    font-size: 30px

