@font-face
  font-family: "Shadows Into Light"
  src: url('https://fonts.googleapis.com/css?family=Shadows+Into+Light')

@font-face
  font-family: "American Captain"
  src: url("../fonts/america/American Captain.ttf") format("ttf")

@font-face
  font-family: "Teko"
  src: url("https://fonts.googleapis.com/css?family=Teko:600")

@font-face
  font-family: "Interceptor"
  src: url("../fonts/interceptor/Interceptor.otf") format("otf")

$elem_bg: #fff
$elem_bg_dark: #333
$elem_bg_light: #F9F9F4
$btn_bg: #DA032D
$text_col: #eee
$text_col_dark: #333333
$select_col: #eee
$link_col: #fb5454
$fir_col: rgba(251, 81, 81, 1)  // #fb5454
$sec_col: rgba(10, 46, 56, 1) // #0a2e38
$bor_fir_col: $fir_col solid 2px
$bor_sec_col: 2px solid $sec_col
$remove: #fb5454 //#DA032D

.btn
  box-shadow: inset 0 0 1em rgba(251, 81, 81, 0.4), 0 0 1em rgba(251, 81, 81, 0.4)
  border: $bor_fir_col
  color: white
  background: none
  padding: 1.2em 5em
  letter-spacing: 0.35em
  font-size: 0.7em
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s
  margin: 1em
  text-transform: uppercase

.btn:hover 
  background-color: #fb5454
  box-shadow: inset 0 0 0 rgba(251,81,81,0.4), 0 0 1.5em rgba(251,81,81,0.6)
	
@import 'dashboard.sass'
@import 'statistic.sass'
@import 'exercises.sass'

html, body
  margin: 0 
  padding: 0 
  width: 100%
  overflow-x: hidden

.ui .grid 
  margin: 0 !important
  
#root 
  width: 100% 

div, select
  outline: none 

select 
  option 
    color: $text_col
    background: #000

input
  text-align: center

input::placeholder
  color: $text_col_dark !important


form
  width: 50%
  text-align: center
  margin: 50px auto

html 
  font-size: 16px !important
  
body
  //font-family: 'Shadows Into Light', cursive !important
  background: #000
  background-repeat: no-repeat
  background-attachment: scroll
  background-size: cover
  color: #fff
  font-family: sans-serif
  
.inline 
  display: inline-block

.center
  text-align: center

a
  text-decoration: none
  &:hover,  &:focus
    text-decoration: none
    color: white
    outline: none

h3 
  text-align: center

.confirm_restricted
  text-align: center
  margin: auto
  font-size: 30px
  margin-top: 200px
  p 
    margin-bottom: 40px

.inline-error
  color: $fir_col

.error-message
  text-align: center
  width: 100%
  left: 50%
  transform: translateX(-50%)
  top: -5px
  position: absolute
  .message
    border-radius: 0
    color: red
    
.forgot-password__link
  display: block
  margin: auto
  text-align: center 
  color: $sec_col
  transition: 0.3s

.header
  background-color: $elem_bg_light
  text-align: center
  margin: 0px !important
  position: relative
  display: flex
  justify-content: flex-start
  padding: 10px 0px 30px 0px !important
  width: 100%
  &__logo
    margin: 0 auto
    text-align: center
    a 
      display: block
      img 
        margin: auto
  &__h1
    text-align: center
    position: relative
    text-transform: uppercase
    left: 5px
    font-size: 4vw
    letter-spacing: 5px
    text-shadow: 0.1em 0.1em 0.2em #aaa
    font-family: Interceptor, sans-serif !important
    margin: 0
    color: #000
    display: inline-block
  &__nav
    position: absolute
    text-align: center
    top: 3px
    left: 50%
    transform: translateX(-50%)
    @media (max-width: 998px)
      width: 100%
    &_link
      color: $link_col
      word-wrap: normal
      display: inline
      text-decoration: none
      font-weight: normal
      padding: 5px
      background: transparent
      text-transform: uppercase
      border: none
      cursor: pointer 
      margin: 5px
      transition: .2s
      @media (max-width: 450px)
        font-size: 14px
        margin: 2px
        madding: 2px
      @media (max-width: 360px)
        font-size: 12px
        margin: 0px
        madding: 0px
      &:focus,  &:visited
        color: $link_col
      &:hover, &:active
        color: darken($link_col, 10%)
        cursor: pointer
        text-decoration: none
        outline: none
        border: none

.home-page
  text-align: center
  margin: 100px auto
  height: 100%
  font-size: 20px
  &__text
    margin: 50px auto
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  &__actions
    a, p
      display: inline-block
  h1 
    font-size: 40px
    text-transform: uppercase
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%)
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0)


.login-page, .signup-page, .forgot-password-page, .reset-password-page
  margin-top: 100px

.redirect-with-message
  text-align: center
  margin-top: 200px

.not-found-page
  font-size: 40px
  margin-top: 200px
  text-align: center
  max-width: 100%
  a 
    font-size: 16px
    line-height: 4

.login-page, .signup-page, .reset-password-page
  form 
    margin-top: 10px
    margin-bottom: 10px

.fade-apear 
  opacity: 0

.fade-apear-active
  opacity: 1
  transition: opacity 1000ms 